<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".NonotiApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/nonoti_icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:resizeableActivity="true"
        android:theme="@style/Theme.Nonoti">
        <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".notifications.NonotiNotificationListenerService"
            android:label="@string/app_name"
            android:description="@string/notification_listener_description"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.NonotiConditionProviderService"
            android:exported="true"
            android:permission="android.permission.BIND_CONDITION_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.ConditionProviderService" />
            </intent-filter>
        </service>
        <receiver
            android:name=".notifications.FocusEndReceiver"
            android:exported="false" />
        <receiver android:name=".notifications.FocusStartReceiver" android:exported="false" />
        <receiver android:name=".notifications.SystemChangeReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_OFFSET_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
                <action android:name="android.app.action.NOTIFICATION_POLICY_ACCESS_GRANTED_CHANGED" />
                <action android:name="android.app.action.AUTOMATIC_ZEN_RULE_STATUS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
